<div class="container py-5">
  <h1>Add new movie to list</h1>
  <%= simple_form_for [@list, @bookmark]  do |f| %>
    <%# <%= f.association :movie %>
    <%= f.association :movie, collection: Movie.order(:title), input_html: {data: {controller: "tom_select"}} %>
    <%= f.input :comment %>
    <%= f.button :submit, class: "btn btn-info" %>
  <% end %>
</div>
